"*":
  Termrk: {}
  "atom-package-deps":
    ignored: []
  atomdo: {}
  awiki:
    wikiLocation: "/Users/jkamenik/.atom/packages/awiki/wiki/"
  core:
    customFileTypes:
      "source.dockerfile": [
        "Dockerfile.prod"
      ]
    disabledPackages: [
      "whitespace"
      "atom-ungit"
      "git-plus"
      "gpd"
      "markdown-writer"
      "term3"
      "emacs-flow"
      "advanced-open-file"
    ]
    packagesWithKeymapsDisabled: [
      "glist"
      "git-diff"
      "git-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontSize: 17
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "385e0edb-539c-991e-15e4-ea182c558aed"
  "fuzzy-finder":
    searchAllPanes: true
  "git-diff": {}
  "git-plus":
    diffs:
      includeStagedDiff: false
    experimental: {}
    general:
      _analyticsUserId: "b6030370-75d1-4086-b623-465f9e774632"
    remoteInteractions:
      pullBeforePush: true
  glist:
    githubToken: "**********"
  gpd:
    dateFormat: "YYYY-MM-DD hh:mm"
    defaultGpdFile: "/Users/jkamenik/Dropbox/gtd/main.GPD"
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
      "source.gfm.nvatom"
    ]
  minimap:
    disablePythonDocLinks: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  nvatom:
    directory: "/Users/jkamenik/Dropbox/notes"
  organized: {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.gfm.nvatom"
      "source.gpd"
      "source.gpd_note"
    ]
  term3: {}
  "theme-switcher":
    syntaxThemeOne: "atom-dark-syntax"
    uiThemeOne: "atom-dark-ui"
    uiThemeTwo: "atom-light-ui"
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: false
    softWrapAtPreferredLineLength: false
".gfm.nvatom.source":
  editor:
    showInvisibles: false
".gfm.source":
  editor:
    softWrapAtPreferredLineLength: true
".git-commit.text":
  editor:
    showInvisibles: false
".git-config.source":
  editor:
    showInvisibles: true
".git-rebase.text":
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: false
