"*":
  Termrk: {}
  "atom-folding":
    foldTrailingWhitespace: true
  "atom-fuzzy-grep":
    showFullPath: true
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-terminal":
      preservedCommands: [
        "command-palette:toggle"
        "fb-interactive-smartlog:toggle"
        "nuclide-quick-open:find-anything"
        "atom-ide-terminal:add-escape-prefix"
        "atom-ide-terminal:new-terminal"
        "atom-ide-terminal:toggle-terminal-focus"
        "pane:move-active-item-to-top-of-stack"
        "pane:show-next-recently-used-item"
        "window:focus-next-pane"
        "window:focus-previous-pane"
        "window:focus-pane-above"
        "window:focus-pane-below"
        "window:focus-pane-on-left"
        "window:focus-pane-on-right"
        "pane:show-previous-item"
        "pane:show-next-item"
      ]
    use:
      "atom-ide-diagnostics-ui": "never"
  "atom-notes":
    directory: "/Users/jkamenik/Dropbox/notes"
    extensions: [
      ".md"
      ".markdown"
      ".adoc"
      ".txt"
      ".dot"
      ".csv"
    ]
    orderByFuzzyFileNameMatch: true
  "atom-package-deps":
    ignored: []
  atomdo: {}
  awiki:
    wikiLocation: "/Users/jkamenik/.atom/packages/awiki/wiki/"
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.dockerfile": [
        "Dockerfile.prod"
      ]
    debugLSP: true
    disabledPackages: [
      "language-gfm"
      "git-plus"
      "whitespace"
      "autoflow"
      "emacs-tab"
    ]
    packagesWithKeymapsDisabled: [
      "glist"
      "git-diff"
      "git-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontSize: 18
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "385e0edb-539c-991e-15e4-ea182c558aed"
  "file-types":
    "*.lsrules": "source.json"
    "image.lock": "source.yaml"
  "fuzzy-finder":
    scoringSystem: "fast"
    searchAllPanes: true
    useRipGrep: true
  "git-diff": {}
  "git-plus":
    diffs:
      includeStagedDiff: false
    experimental:
      autoFetchNotify: true
    general:
      _analyticsUserId: "b6030370-75d1-4086-b623-465f9e774632"
    remoteInteractions:
      pullBeforePush: true
  github:
    remoteFetchProtocol: "ssh"
    reportCannotLocateWorkspaceError: true
    viewChangesForCurrentFileDiffPaneSplitDirection: "down"
  glist:
    githubToken: "**********"
  "go-plus":
    autocomplete: {}
    config: {}
  gpd:
    dateFormat: "YYYY-MM-DD hh:mm"
    defaultGpdFile: "/Users/jkamenik/Dropbox/gtd/main.GPD"
  "graphviz-preview-plus": {}
  "linter-markdown":
    scopes: [
      "source.gfm"
      "source.pfm"
      "text.md"
      "source.gfm.notes"
    ]
  "linter-ui-default":
    panelHeight: 259
    showPanel: true
  "markdown-mindmap":
    theme: "colorful"
  "markdown-pdf":
    format: "Letter"
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    disablePythonDocLinks: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  nvatom:
    directory: "/Users/jkamenik/Dropbox/notes"
  organized: {}
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.html.basic"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "textsource.gfm.nvatom"
      "source.gpd"
      "source.gpd_note"
      "source.yaml"
      "source.js"
      "source.gfm.notes"
      "text.md"
    ]
    knownWords: [
      "aws"
      "loadbalancer"
      "pv"
      "postgres"
      "elasticsearch"
      "tls"
      "pushgateway"
      "greyspark"
      "postgresql"
      "kibana"
      "Kubernetes"
      "Greyspark's"
      "Grafana"
      "syslog-ng"
      "Sensu"
      "Heroku"
      "Tddium"
      "versions"
    ]
  term3: {}
  "theme-switcher":
    syntaxThemeOne: "atom-dark-syntax"
    uiThemeOne: "atom-dark-ui"
    uiThemeTwo: "atom-light-ui"
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  "wrap-guide":
    columns: [
      80
      120
    ]
  zentabs:
    neverCloseUnsaved: true
".coffee.source":
  editor:
    preferredLineLength: 120
  "wrap-guide":
    columns: [
      80
      120
    ]
".concourse-pipeline-yaml.source":
  editor:
    preferredLineLength: 500
  "wrap-guide":
    columns: [
      80
      120
      300
      500
    ]
".diff.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: false
    softWrapAtPreferredLineLength: false
".editorconfig.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
    softWrap: true
    softWrapAtPreferredLineLength: true
  "wrap-guide":
    columns: [
      80
      120
    ]
".gfm.nvatom.source":
  editor:
    showInvisibles: false
".gfm.source":
  editor:
    softWrapAtPreferredLineLength: true
".git-commit.text":
  editor:
    showInvisibles: false
".git-config.source":
  editor:
    showInvisibles: true
".git-rebase.text":
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: false
".hcl.source":
  editor:
    softWrap: false
".md.text":
  editor:
    preferredLineLength: 120
    softWrap: false
  "wrap-guide":
    columns: [
      80
      120
    ]
".plain.text":
  editor:
    softWrap: true
".source.yaml":
  editor:
    preferredLineLength: 120
    softWrap: false
  "wrap-guide":
    columns: [
      80
      120
    ]
